<%= form_for(delivery) do |f| %>
  <% if delivery.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(delivery.errors.count, "error") %> prohibited this delivery from being saved:</h2>

      <ul>
      <% delivery.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<table width="100%">
  <tr>
     <td id="MyLeft">
        Тип доставки:
     </td>
     <td id="MyRight">
        <%= f.text_field :name, :size=>"15", :maxlength=>"15" %>
     </td>
  </tr>
  <tr>
     <td id="MyLeft">
        Телефон:
     </td>
     <td id="MyRight">
        <%= f.text_field :phone, :size=>"15", :maxlength=>"15" %>
     </td>
  </tr>
</table>
  <br />
  <div class="actions">
    <%= f.submit ( f.object.new_record? ? "Создать" : "Обновить"), class: "btn" %>
  </div>
<% end %>
