<h1>Добро пожаловать в Web-приложение "Аптека"</h1>
<hr><br />

<table id="MyTable">
    <tr>
        <td>
            <%= link_to "Справочник изготовителей", :controller => "manufacturers" %>
        </td>
    </tr>
    <tr>
        <td>
            <%= link_to "Справочник типов препаратов", :controller => "types" %>
        </td>
    </tr>
    <tr>
        <td>
            <%= link_to "Справочник поставщиков", :controller => "providers" %>
        </td>
    </tr>
    <tr>
        <td>
            <%= link_to "Препараты", :controller => "preparats" %>
        </td>
    </tr>
    <tr>
        <td>
            <%= link_to "Оформить заказ", :controller => "orders" %>
        </td>
    </tr>
    <tr>
        <td>
            <%= link_to "Справочник клиентов", :controller => "clients" %>
        </td>
    </tr>
    <tr>
        <td>
            <%= link_to "Справочник по доставки", :controller => "deliveries" %>
        </td>
    </tr>
    <tr>
        <td>
            <%= link_to "Справочник по сотрудникам", :controller => "employees" %>
        </td>
    </tr>
    <tr>
        <td>
            <%= link_to "Должности сотрудников", :controller => "positions" %>
        </td>
    </tr>                                   
</table>

<br /><hr>
<h3><div id="MyFooter">Copyright by Вавилов А. А. группа: М15-ИСТ-3</div></h3>