<%= form_for(manufacturer) do |f| %>
  <% if manufacturer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(manufacturer.errors.count, "error") %> prohibited this manufacturer from being saved:</h2>

      <ul>
      <% manufacturer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table width="100%">
      <tr>
         <td id="MyLeft">
            Название:
         </td>
         <td id="MyRight">
            <%= f.text_field :name, :size=>"20", :maxlength=>"20" %>
         </td>
      </tr>
      <tr>
         <td id="MyLeft">
            Адрес:
         </td>
         <td id="MyRight">
            <%= f.text_field :adress, :size=>"50", :maxlength=>"50" %>
         </td>
      </tr>
      <tr>
         <td id="MyLeft">
            Телефон:
         </td>
         <td id="MyRight">
            <%= f.text_field :phone, :size=>"15", :maxlength=>"15" %>
         </td>
      </tr>
      <tr>
         <td id="MyLeft">
            Email:
         </td>
         <td id="MyRight">
            <%= f.text_field :email, :size=>"20", :maxlength=>"20" %>
         </td>
      </tr>
</table>
  <br />
  <div class="actions">
    <%= f.submit ( f.object.new_record? ? "Создать" : "Обновить"), class: "btn" %>
  </div>
<% end %>
