<p id="notice"><%= notice %></p>

<h1>Справочник "Изготовителей"</h1>
<hr>
<table>
  <thead>
    <tr>
      <th>Название</th>
      <th>Адресс</th>
      <th>Телефон</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @manufacturers.each do |manufacturer| %>
      <tr>
        <td><%= manufacturer.name %></td>
        <td><%= manufacturer.adress %></td>
        <td><%= manufacturer.phone %></td>
        <td><%= manufacturer.email %></td>
        <td><%= link_to 'Подробнее', manufacturer %></td>
        <td><%= link_to 'Редактировать', edit_manufacturer_path(manufacturer) %></td>
        <td><%= link_to 'Удалить', manufacturer, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<h4>
<%= link_to 'Добавить нового изготовителя', new_manufacturer_path %><br /><br />
<%= link_to "Выйти на главное меню", :controller => "welcome" %></h4>
<br /><hr>
<h3><div id="MyFooter">Copyright by Вавилов А. А. группа: М15-ИСТ-3</div></h3>